{
  "presets": [
    [
      "env", {
        "targets": {
          "node": 4.3
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ]
}
